@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Inter&family=Montserrat:wght@400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
  background-color: #111111;
  font-family: 'Montserrat', sans-serif;
}

.bg-img {
  background-position: 65% 50%;
}

/* .redondiado::after {
  content: '';
  display: block;
  width: 50px;
  height: 40px;
  background-color: white;
  top: 0;
  left: 0;
  border-bottom-left-radius: 50%;
  position: absolute;
} */
/* .redondiado::before {
  content: '';
  display: block;
  width: 50px;
  height: 40px;
  background-color: white;
  bottom: 0;
  left: 0;
  border-top-left-radius: 50%;
  position: absolute;
} */
