@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Inter&family=Montserrat:wght@400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
  background-color: #111111;
  font-family: 'Montserrat', sans-serif;
}

.bg-img {
  background-position: 65% 50%;
}

/* .redondiado::after {
  content: '';
  display: block;
  width: 50px;
  height: 40px;
  background-color: white;
  top: 0;
  left: 0;
  border-bottom-left-radius: 50%;
  position: absolute;
} */
/* .redondiado::before {
  content: '';
  display: block;
  width: 50px;
  height: 40px;
  background-color: white;
  bottom: 0;
  left: 0;
  border-top-left-radius: 50%;
  position: absolute;
} */
.card {
  position: relative;

  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  background: #1c1b29;
}

.card::before {
  content: '';
  background-image: conic-gradient(#04b0ee 20deg, transparent 120deg);
  height: 150%;
  width: 150%;
  position: absolute;
  left: -25%;
  top: -25%;
  animation: rotate 2s infinite linear;
}

.card::after {
  content: '';
  height: 94%;
  width: 94%;
  position: absolute;
  background: #1c1b29;
  /* background-image: url('/avatar.png'); */
  border-radius: 5px;
  top: 3%;
  left: 3%;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
.pizza-svg {
  width: 80px;
  overflow: visible;
  stroke: #fff;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-linecap: round;
}
