@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --bg-primary: #171718;
  --bg-primary-opacity: #17171865;
  --bg-button: #f9b53a;
  --color-white: #fff;
  --color-border: #857070;
  --color-border-form: #a0a0a1;
  --color-padding: #1f1f21;
  --color-degradado: linear-gradient(270deg, #f9b53a 10.81%, #ff59a8 100%);
  --max-width: 71.25rem;
  --header-height: 5rem;
  --black-alpha-color: #00000080;
}
html {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--bg-primary);
  font-size: 1rem;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  cursor: pointer;
  text-decoration: none;
}
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  color: var(--color-white);
  font-family: 'DM Sans', sans-serif;
}
p {
  line-height: 1.75rem;
  letter-spacing: 0.44px;
}
h1 {
  margin: 0;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 4.43rem;
  letter-spacing: -0.5px;
}
h2 {
  margin: 0;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.56rem;
}
h3 {
  margin: 0;
  font-weight: 500;
  font-size: 2.1rem;
  line-height: 2.5rem;
  letter-spacing: 0.25px;
}
h4 {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}
h5 {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.9rem;
  letter-spacing: 0.15px;
}
img {
  max-width: 100%;
  height: auto;
}
.btn {
  background: #f9b53a;
  border-radius: 0.5rem;
  width: 10.5rem;
  height: 3rem;
  padding: 1rem 1.25rem;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  display: inline-block;
  transition: animation 0.5s ease-in-out;
}
.btn:hover {
  animation: gradient 1s ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes gradient {
  0% {
    background-image: linear-gradient(#f9b53a, #f9b53a);
  }
  100% {
    background: linear-gradient(270deg, #f9b53a 10.81%, #ff59a8 100%);
  }
}
.btn-trans {
  background: transparent;
  border-radius: 0.5rem;
  width: 10.5rem;
  height: 3rem;
  padding: 0.5rem 0;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  transition: transform 0.5s ease;
  border: 1px solid var(--color-white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.color-bold {
  color: var(--bg-button);
}
.icon {
  font-size: 1.2rem;
}
.icon-lg {
  font-size: 3.5rem;
  cursor: pointer;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding: 0 1rem;
}
.efectos {
  box-shadow: -5px 14px 248px -61px rgba(249, 181, 58, 0.3);
}
textarea {
  resize: none;
}
.section {
  margin-bottom: 4rem;
}
.text-center {
  text-align: center;
}
.none {
  display: none;
}
.card {
  width: 20.4rem;
  height: 16.7rem;
  background-color: var(--color-padding);
  padding: 1rem;
  margin: 0 auto 1rem;
}
.card__icon {
  color: var(--bg-button);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1014px) {
  .abilities > article {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
  }
  .card {
    margin: 0 1rem;
  }
}
.proyect__container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  flex-wrap: wrap;
}
.proyect__filters {
  margin-top: 1rem;
  text-align: center;
}
.proyect__input {
  display: none;
  transition: display 1s;
}
.proyect__label {
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  border-radius: 10px;
  display: inline-block;
}
.proyect__input:checked + .proyect__label {
  background-color: var(--bg-button);
}
#maquetacion:checked ~ .proyect__container .wordpress,
#maquetacion:checked ~ .proyect__container .react {
  display: none;
  transition: background-color 0.5s;
}
#wordpress:checked ~ .proyect__container .maquetacion,
#wordpress:checked ~ .proyect__container .react {
  display: none;
  transition: background-color 0.5s;
}
#react:checked ~ .proyect__container .wordpress,
#react:checked ~ .proyect__container .maquetacion {
  display: none;
  transition: background-color 0.5s;
}
.proyect__item {
  cursor: pointer;
  padding: 0.25rem 0.45rem;
  border-radius: 0.5rem;
  font-weight: 700;
}
.proyect___card {
  background-color: var(--color-padding);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 18.4rem;
  cursor: pointer;
  transition: all 1s;
}

.proyect___card img {
  height: 200px;
  object-fit: cover;
}
.proyect__img {
  border-radius: 1rem;
  margin-bottom: 0.75rem;
}

.proyect__title {
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: start;
}
.proyect__button {
  width: 100%;
  font-size: 0.8rem;
  color: var(--bg-button);
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}
.proyect__button:hover .icon {
  transform: translateX(0.25rem);
}
.active__proyect {
  background-color: var(--bg-button);
}
form {
  width: 20.5rem;
  max-width: 27.9rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-padding);
  color: var(--color-white);
}
.input-button {
  width: 100%;
}
label > * {
  display: block;
  width: 100%;
  padding: 16px 20px;
  border-radius: 0.5rem;
  border: 1px solid var(--color-border-form);
  background-color: transparent;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: var(--color-white);
}
.hero___img {
  /* background-image: url(../img/hero.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__img__opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
}
.hero__img__title {
  font-size: clamp(2rem, 6.5vw, 5.25rem);
  text-align: center;
  font-weight: 700;
  line-height: clamp(2rem, 6.5vw, 5.25rem);
}
.hero__img__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__img__photo {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  margin-top: 1.5rem;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 1014px) {
  .hero__img__photo {
    width: 15.625rem;
    height: 15.625rem;
  }
}

@media screen and (min-width: 1014px) {
  /* .menu a:last-child {
    padding-right: 0;
  } */
}
[id] {
  scroll-margin-top: var(--header-height);
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid var(--color-border);
  height: 100%;
}
.logo img {
  width: 2rem;
  height: auto;
  cursor: pointer;
}
/* .menu__btn ion-icon {
  font-size: 2rem;
  cursor: pointer;
} */
/* .container > .menu__contact {
  display: none;
} */
.presentation {
  width: 50%;
  min-width: 22.5rem;
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}
.presentation > article {
  text-align: center;
}
article > h1 {
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: 0.25px;
}
.presentation__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__btn a:nth-child(1) {
  margin-bottom: 1rem;
}
.about > article {
  width: 100%;
  min-width: 20.5rem;
  padding: 0 1rem;
}
.about__img img {
  width: 18.3rem;
  object-fit: cover;
}
.about__section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--color-padding);
  text-align: left;
  min-width: 20.5rem;
  max-width: 60.4rem;
}
.about__article {
  margin-top: 1rem;
}
.portofolio__images > img {
  margin-bottom: 2rem;
}
article > a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.15px;
}
.footer {
  background-color: #131414;
}
.footer > h2 {
  padding: 1rem 0;
}
.subtitle-uno {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-white);
}
@media screen and (min-width: 1014px) {
  .header {
    top: 0;
    position: sticky;
    height: var(--header-height);
  }
  /* .container > .menu__contact {
    display: block;
  } */
  article > h1 {
    font-size: 3.75rem;
    line-height: 4.43rem;
    letter-spacing: -0.5px;
  }
  .presentation__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .presentation__btn a:nth-child(1) {
    margin-right: 0.8rem;
    margin-bottom: 0;
  }
  .about__section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .about__article {
    width: 35rem;
  }
  .footer > aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .subtitle-uno,
  article > a {
    font-weight: 400;
    font-size: 1.2rem;
  }
}
